# Python virtual environment
venv/
.venv/
env/

# Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Databases
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env*.local

# IDEs & OS
.DS_Store
.vscode/
.idea/
